body {
    background: url("../images/seating.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    display: none;
 }

#bodyContainer {
    height: 75%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#triviaContainer {
    height: 75%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    display: none;
    z-index: 1;
}

h1 {
    font-size: 6vw;
    font-family: 'Francois One', sans-serif;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
    position: fixed;
    text-align: center;
    margin-top: 0 !important;
    width: 100%;
}

#startButton {
    border-radius: 4px;
    height: 80px;
    width: 100px;
    background-color: #fff;
    font-size: 2vw;
    font-family: 'Francois One', sans-serif;
    text-align: center;
    color: #ff0080;
    margin-left: 40%;
    margin-right: 40%;
}

#beginTrivia {
    padding-top: 25%;
    position: relative;
    z-index: 1;
}

fieldset {
    font-size: 15px;
    font-family: 'Francois One', sans-serif;
    color: #fff;
    
}

#quiz {
    color: #fff;
}

#timeRemaining {
    color: #fff;

}

button {
    width: 100px;
    height: 50px;
}

#submit {
    margin-top: 10px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1.3vw;
    font-family: 'Francois One', sans-serif;
    color: #ff0080;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}

h2 {
    font-size: 30px;
    font-family: 'Francois One', sans-serif;
    color: #fff;
    margin-left: 0;
}

#results {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    color: #fff;
    display: none;
}

p {
    font-size: 30px;
    font-family: 'Francois One', sans-serif;
    color: #fff;
}